auto-install-peers=true
strict-peer-dependencies=false
engine-strict=true
only-built-dependencies[]=@embedded-postgres/windows-x64
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=argon2
only-built-dependencies[]=prisma
